.c-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
    height: 300px;
    width: 50%;

    background-color: rgb(223, 138, 138);
    color: white;
    margin: 25%;

    &__input{
        margin: 10px;

        text-align: center;

        border-radius: 25px;
    }

}