
.list{
    background-color: white;

    &__title{
        padding: 15px;
        color: black;
    }

    &__cards {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    color: white;

        &__card{
            margin: 15px;

            &__img{
                width: 100%;
                height: 200px
            
            }
        };
    };
};

.finder{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input{
        text-align: center;
        margin: 10px;
        border-radius: 10px;
    };

    &__button{

        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid white;

    }

    &__found{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}