.cart{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        height: 300px;
        width: 200px;

        background-color: rgb(167, 114, 114);
        color: azure;

        margin: 15px 0px;

        &__img{
            width: 100%;
        }
    }
}