
.footer{
    height: 150px;
    width: auto;

    background-color: rgb(233, 42, 42);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}